## Visual Studio 
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

## macOS / iOS Specific
.DS_Store
.AppleDouble
.LSOverride
**/[Cc]ache/
[Aa]rchives/

## Android Specific
*.ap_
*.apk
*.dex

## Publishing / Build
appsettings.Development.json
publish/