################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RunningBuddy/bin/Debug/net8.0-windows10.0.19041.0/win10-x64
/RunningBuddy/obj/Debug/net8.0-android/designtime/stamp
/RunningBuddy/obj/Debug/net8.0-android/designtime
/RunningBuddy/obj/Debug/net8.0-android/lp/100/jl
/RunningBuddy/obj/Debug/net8.0-android/lp/101/jl/META-INF/com/android/build/gradle
/RunningBuddy/obj/Debug/net8.0-android/lp/101/jl/res/values
/RunningBuddy/obj/Debug/net8.0-android/lp/101/jl
/RunningBuddy/obj/Debug/net8.0-android/lp
/RunningBuddy/obj/Debug/net8.0-android/res/values
/RunningBuddy/obj/Debug/net8.0-android/resizetizer
/RunningBuddy/obj/Debug/net8.0-android/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/RunningBuddy/obj/Debug/net8.0-android/case_map.txt
/RunningBuddy/obj/Debug/net8.0-android/mauifont.inputs
/RunningBuddy/obj/Debug/net8.0-android/mauifont.stamp
/RunningBuddy/obj/Debug/net8.0-android/mauiimage.inputs
/RunningBuddy/obj/Debug/net8.0-android/mauiimage.outputs
/RunningBuddy/obj/Debug/net8.0-android/mauiimage.stamp
/RunningBuddy/obj/Debug/net8.0-android/mauisplash.inputs
/RunningBuddy/obj/Debug/net8.0-android/mauisplash.stamp
/RunningBuddy/obj/Debug/net8.0-android/R.txt
/RunningBuddy/obj/Debug/net8.0-android/res.flag
/RunningBuddy/obj/Debug/net8.0-android/RunningBuddy.AssemblyInfo.cs
/RunningBuddy/obj/Debug/net8.0-android/RunningBuddy.AssemblyInfoInputs.cache
/RunningBuddy/obj/Debug/net8.0-android/RunningBuddy.assets.cache
/RunningBuddy/obj/Debug/net8.0-android/RunningBuddy.csproj.AssemblyReference.cache
/RunningBuddy/obj/Debug/net8.0-android/RunningBuddy.GeneratedMSBuildEditorConfig.editorconfig
/RunningBuddy/obj/Debug/net8.0-android/_Microsoft.Android.Resource.Designer.dll
/RunningBuddy/obj/Debug/net8.0-android/__Microsoft.Android.Resource.Designer.cs
/RunningBuddy/obj/Debug/net8.0-ios
/RunningBuddy/obj/Debug/net8.0-maccatalyst
/RunningBuddy/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/embed
/RunningBuddy/obj/Debug/net8.0-windows10.0.19041.0/win10-x64
/RunningBuddy/obj/project.assets.json
/RunningBuddy/obj/project.nuget.cache
/RunningBuddy/obj/RunningBuddy.csproj.nuget.dgspec.json
/RunningBuddy/obj/RunningBuddy.csproj.nuget.g.props
/RunningBuddy/obj/RunningBuddy.csproj.nuget.g.targets
